.cView-mb-30{
    margin-bottom: 30px;
}
.cView-mt-30{
    margin-top: 30px;
}


.profileCard  {

    .profile-pic {
        img {

            width: 95%;
            max-height: 200px;
            max-width:200px;
            object-fit:cover;
            margin-bottom:15px;
        }
    }
}

agm-map {
    height: 300px;
  }

  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

// text-left