.cView-mb-30{
    margin-bottom: 30px;
}
.cView-mt-30{
    margin-top: 30px;
}


.profileCard  {

    .profile-pic {
        img {

            width: 95%;
            max-height: 200px;
            max-width:200px;
            object-fit:cover;
            margin-bottom:15px;
        }
    }
}


// text-left