<div  class="cView-mb-30" >
  <div class="row m-t-15">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p class="small code-display"><strong>{{ service.resource?.data.codeDisplay }}</strong>
          </p>
          <h3 class="font-normal m-b-0 font-weight-bold">
            {{ service.resource?.data.headline }}</h3>
          <h5>R{{ service.resource?.data.price | number }}
          </h5>
       
          <p><a href="{{ service.resource?.data.address?.url }}" target="_blank">{{ service.resource?.data.address?.formatted_address }}</a></p>
        </div>
        <!--
        <table class="table v-middle no-border agent-header-index p-0" style="text-align: center">
          <tbody>
            <tr>
              <td class="p-0"><img src="assets/bedroom-icon.png">
                {{ service.resource?.data.bedrooms }}
                Bedrooms</td>
              <td class="p-0"><img src="assets/bathroom-icon.png">
                {{ service.resource?.data.bathrooms }}
                Bathrooms</td>
              <td class="p-0"><img src="assets/kitchen-icon.png">
                {{ service.resource?.data.kitchens }}
                Kitchen</td>
              <td class="p-0"><img src="assets/garage-icon.png">
                {{ service.resource?.data.garages }}
                Garages</td>
            </tr>
          </tbody>
        </table>
        -->
        <div id="carouselExampleControls" class="carousel slide cst-box" data-ride="carousel" interval="1000" wrap="true">
          <div *ngIf="service.resource?.data?.images?.length"  class="carousel-inner">
             <div *ngFor="let item of service.resource?.data.images; let i = index" class="carousel-item" [ngClass]="{'active': i ==0}">
              
              <img  class="d-block w-100 slider-image" src="{{ item['url'] }}"
                alt="First slide if image gallery">
            </div>
            <!-- <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 1" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['1']['url'] }}"
                alt="Second slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 2" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['2']['url'] }}"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 3" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['3']['url'] }}"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 4" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['4']['url'] }}"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 5" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['5']['url'] }}"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 6" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['6']['url'] }}"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img *ngIf="service.resource?.data.images && service.resource?.data.images.length > 7" class="d-block w-100 slider-image" src="{{ service.resource?.data.images['7']['url'] }}"
                alt="Third slide">
            </div>  -->
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only prev-arrow">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only next-arrow">Next</span>
          </a>
        </div>
        <!--
        <img alt="Card image cap" class="card-img-top img-responsive"
          src="{{ service.resource?.data.images['0']['url'] }}" />
     
        <div class="card-group">
          <div class="card">
            <img alt="Card image cap" class="card-img-top img-responsive"
              src="{{ service.resource?.data.images['1']['url'] }}" />
  
          </div>
          <div class="card">
            <img src="assets/big/img1.jpg" alt="Random first slide">
  
          </div>
          <div class="card">
            <img alt="Card image cap" class="card-img-top img-responsive"
              src="{{ service.resource?.data.images['3']['url'] }}" /></div>
        </div>
        -->
        <div class="card-body">
  
          <p class="m-t-15" [innerHTML]="service.resource?.data.description"></p>
        </div>
      </div>
      <div class="row cView-mt-30" >
        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="float-right"><i class="fa fa-chevron-down" ></i></span> Property Size Information 
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 
                      <table class="table no-border room-detail m-b-0">
                        <tbody>
                          <tr>
                            <td>Land Size:</td>
                            <td>
                              {{ service.resource?.data.sizeLandSizeInfo?.landSize | number }}m²
                            </td>
                          </tr>
                          <tr>
                            <td>Floor Size:</td>
                            <td>
                              {{ service.resource?.data.floorSizeInfo?.floorSize | number }}m²
                            </td>
                          </tr>
                          <tr>
                            <td>Factory/Warehouse Size:</td>
                            <td>
                              {{ service.resource?.data.factoryWarehouseSize | number }}m²
                            </td>
                          </tr>
                          <tr>
                            <td>Office Size:</td>
                            <td>{{ service.resource?.data.officeSize | number }}m²</td>
                          </tr>
                          <tr>
                            <td>Retail Size:</td>
                            <td>
                              {{ service.resource?.data.retailSize | number }}m²
                            </td>
                          </tr>
                          <tr>
                            <td>Yard Size:</td>
                            <td>
                              {{ service.resource?.data.yardSpace | number  }}m²
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
           
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed text-left"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span>Property Pricing Details
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table no-border room-detail m-b-0">
                    <tbody>
                      <tr>
                        <td>Price:</td>
                        <td>
                          R{{ service.resource?.data.price | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Price Unit:</td>
                        <td>
                          {{ service.resource?.data.priceUnit }}
                        </td>
                      </tr>
                      <tr>
                        <td>Rental Rate:</td>
                        <td>
                          {{ service.resource?.data.rentalRate }}
                        </td>
                      </tr>
                      <tr>
                        <td>Net Price:</td>
                        <td>R{{ service.resource?.data.netPrice | number }}</td>
                      </tr>
                      <tr>
                        <td>Gross Lettable Area:</td>
                        <td>
                          R{{ service.resource?.data.grossLettableArea | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Gross Price:</td>
                        <td>
                          R{{ service.resource?.data.grossPrice | number  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Est. Monthly Rental Income (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.estMonthlyRentalIncome | number  }}
                        </td>
                      </tr>
                    </tbody>
                  </table>     
                  </div>          
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span>Property Details
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table no-border room-detail m-b-0">
                    <tbody>
                      <tr>
                        <td>Dock Levellers:</td>
                        <td>
                          {{ service.resource?.data.dockLevellers | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Height Of Dock Levellers:</td>
                        <td>
                          {{ service.resource?.data.floorSizeInfo?.heightOfDockLevellers | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Height Of Eaves:</td>
                        <td>
                          {{ service.resource?.data.heightOfEaves | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Height For Racking:</td>
                        <td>{{ service.resource?.data.heightForRacking | number }}</td>
                      </tr>
                      <tr>
                        <td>Height Of Roof:</td>
                        <td>
                          {{ service.resource?.data.heightOfRoof | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Number of Roller Shutter Doors:</td>
                        <td>
                          {{ service.resource?.data.numberOfRollerShutterDoors | number  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Height Of Roller Shutter Doors:</td>
                        <td>
                          {{ service.resource?.data.heightOfRollerShutterDoors | number  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Floor Loading Capacity:</td>
                        <td>
                          {{ service.resource?.data.floorLoadingCapacity }}
                        </td>
                      </tr>
                      <tr>
                        <td>Truck Access:</td>
                        <td>
                          {{ service.resource?.data.truckAccess }}
                        </td>
                      </tr>
                      <tr>
                        <td>Yard Access:</td>
                        <td>
                          {{ service.resource?.data.yardAccess }}
                        </td>
                      </tr>
                      <tr>
                        <td>Building Grade:</td>
                        <td>
                          {{ service.resource?.data.buildingGrade }}
                        </td>
                      </tr>
                      <tr>
                        <td>Security:</td>
                        <td>
                          {{ service.resource?.data.security }}
                        </td>
                      </tr>
                      <tr>
                        <td>Air Conditioning:</td>
                        <td>
                          {{ service.resource?.data.airConditioning }}
                        </td>
                      </tr>
                      <tr>
                        <td>Power Availability:</td>
                        <td>
                          {{ service.resource?.data.powerAvailability }}
                        </td>
                      </tr>
                      <tr>
                        <td>Power 3 Phase:</td>
                        <td>
                          {{ service.resource?.data.power3Phase }}
                        </td>
                      </tr>
                      <tr>
                        <td>Amps:</td>
                        <td>
                          {{ service.resource?.data.amps }}
                        </td>
                      </tr>
                      <tr>
                        <td>Power Notes:</td>
                        <td>
                          {{ service.resource?.data.powerNotes }}
                        </td>
                      </tr>
                      <tr>
                        <td>Has Backup Water:</td>
                        <td>
                          {{ service.resource?.data.backupWater }}
                        </td>
                      </tr>
                      <tr>
                        <td>Is Wheelchair Accessible:</td>
                        <td>
                          {{ service.resource?.data.wheelchairAccessible }}
                        </td>
                      </tr>
                      <tr>
                        <td>Generator:</td>
                        <td>
                          {{ service.resource?.data.generator }}
                        </td>
                      </tr>
                      <tr>
                        <td>Has Natural Light:</td>
                        <td>
                          {{ service.resource?.data.naturalLight }}
                        </td>
                      </tr>
                      <tr>
                        <td>Internet Access:</td>
                        <td>
                          {{service.resource?.data.internetAccess ? service.resource?.data.internetAccess['0'] : ''}}
                        </td>
                      </tr>

                    </tbody>
                  </table>                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span>Property Parking Details
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table no-border room-detail m-b-0">
                    <tbody>
                      <tr>
                        <td>Open Parking Bays:</td>
                        <td>
                          {{ service.resource?.data.openParkingBays | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Cost / Bay (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.floorSizeInfo?.costBay | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Total Cost for Open Parking Bays (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.totalParkingBayCost | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Covered Parking Bays:</td>
                        <td>{{ service.resource?.data.coveredParkingBays | number }}</td>
                      </tr>
                      <tr>
                        <td>Cost / Covered Bay (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.costCoveredBay | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Total Cost (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.totalCostCoveredParking | number  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Basement Parking:</td>
                        <td>
                          {{ service.resource?.data.basementParking | number  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Cost / Basement Bay (Ex VAT):</td>
                        <td>
                          R{{ service.resource?.data.costBasementParking }}
                        </td>
                      </tr>
                      <tr>
                        <td>Basement Parking Total Cost:</td>
                        <td>
                          R{{ service.resource?.data.basementParkingTotalCost }}
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed text-left"  type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span>Property Facilities Information
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table no-border room-detail m-b-0">
                    <tbody>
                      <tr>
                        <td>Kitchens:</td>
                        <td>
                          {{ service.resource?.data.kitchens | number }}
                        </td>
                      </tr>
                      <tr>
                        <td>Kitchen Notes:</td>
                        <td>
                          {{ service.resource?.data.kitchenNotes }}
                        </td>
                      </tr>
                      <tr>
                        <td>Sink:</td>
                        <td>
                          R{{ service.resource?.data.sink }}
                        </td>
                      </tr>
                      <tr>
                        <td>Dish Washer:</td>
                        <td>{{ service.resource?.data.dishwasher }}</td>
                      </tr>
                      <tr>
                        <td>Coffee Machine:</td>
                        <td>
                          R{{ service.resource?.data.coffeeMachine }}
                        </td>
                      </tr>
                      <tr>
                        <td>Board Rooms:</td>
                        <td>
                          R{{ service.resource?.data.boardrooms  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Boardroom Description:</td>
                        <td>
                          {{ service.resource?.data.boardroomDescription  }}
                        </td>
                      </tr>
                      <tr>
                        <td>Furniture Included:</td>
                        <td>
                          {{ service.resource?.data.furnitureIncluded }}
                        </td>
                      </tr>
                      <tr>
                        <td>Internet Port:</td>
                        <td>
                          {{ service.resource?.data.internetPort }}
                        </td>
                      </tr>
                      <tr>
                        <td>WiFi:</td>
                        <td>
                          {{ service.resource?.data.wiFi }}
                        </td>
                      </tr>
                      <tr>
                        <td>TV Port:</td>
                        <td>
                          {{ service.resource?.data.tvPort }}
                        </td>
                      </tr>
                      <tr>
                        <td>TV Port:</td>
                        <td>
                          {{ service.resource?.data.tvPort }}
                        </td>
                      </tr>
                      <tr>
                        <td>Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.bathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>Bathrooms Notes:</td>
                        <td>
                          {{ service.resource?.data.bathroomNotes }}
                        </td>
                      </tr>
                      <tr>
                        <td>Unisex Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.unisexBathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>Communal Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.communalBathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>Executive Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.executiveBathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>Executive Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.executiveBathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>In Unit Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.unitBathrooms }}
                        </td>
                      </tr>
                      <tr>
                        <td>Cleaning Service:</td>
                        <td>
                          {{ service.resource?.data.cleaningService }}
                        </td>
                      </tr>
                      <tr>
                        <td>In Unit Bathrooms:</td>
                        <td>
                          {{ service.resource?.data.unitBathrooms }}
                        </td>
                      </tr>
                    </tbody>
                  </table>                </div>
              </div>
            </div>
            <!-- collapse 6 -->

            <div class="card">
              <div class="card-header" id="headingSix">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed text-left"  type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span> Image gallery
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body" style="display: flex; flex-wrap: wrap;">
                  <div class ="data" *ngFor = "let image of  service.resource?.data.images ,let i = index " style="margin: 15px; width: 25%;">
                    <a href="{{image.url}}?{{i}}" data-toggle="lightbox" (click) = testFunction() data-gallery="gallery" class="col-md-4">
                      <img src="{{image.url}}?{{i}}" class="img-fluid rounded" style="height: 200px;
                      object-fit: cover;">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Collapse 6 -->
            <div class="card">
              <div class="card-header" id="headingSix">
               
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block collapsed  text-left"  type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <span class="float-right"><i class="fa fa-chevron-down"></i></span> Map
                  </button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body" style="display: flex; flex-wrap: wrap;">
                  <div id="map"></div>
                </div>
              </div>
            </div>
            <!-- End Collapse 7 -->
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
       
        <a href="https://maxprop.digital/commercial/{service.resource?.data.codeDisplay}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Website Page</h5>
            <small><i class="fa fa-file"></i></small>
          </div>
          <p class="mb-1">View this property’s page on the Maxprop Digital website.  
          </p>
          <small>Open in new tab</small>
        </a>
         <!--
        <a href="https://www.maxprop.co.za/commercial-pages/{{service.resource?.data.codeDisplay}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Landing Page</h5>
            <small class="text-muted"><i class="fa fa-file"></i></small>
          </div>
          <p class="mb-1">View this property’s dedicated landing page and share the URL with prospective clients.
          </p>
          <small class="text-muted">Open in new tab</small>
        </a>-->
       
        <a href="{{service.resource?.data.brochures?.showHouseBrochure }}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Listing Information Brochure</h5>
            <small class="text-muted"><i class="fa fa-file"></i></small>
          </div>
          <p class="mb-1">View this property’s Information Brochure. You will be able to download it and share it with prospective clients electronically.
          </p>
          <small class="text-muted">Download PDF</small>
        </a>

        <a *ngIf="service.resource?.data?.property24?.p24Link && service.resource?.data?.property24?.p24Link !== '1'" href="{{service.resource?.data?.property24?.p24Link }}" target="_blank"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Property 24 </h5>
          <!-- <small class="text-muted"><i class="fa fa-file"></i></small> -->
        </div>
        <p class="mb-1">View the link in property 24
        </p>
        <!-- <small class="text-muted">Download PDF</small> -->
      </a>
      <a *ngIf="service.resource?.data?.privateProperty?.ppLink && service.resource?.data?.privateProperty?.ppLink !== '1'" href="{{service.resource?.data?.privateProperty?.ppLink  }}" target="_blank"
      class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Private property</h5>
        <!-- <small class="text-muted"><i class="fa fa-file"></i></small> -->
      </div>
      <p class="mb-1">View the link in private property
      </p>
      <!-- <small class="text-muted">Download PDF</small> -->
    </a>  
         
   
      <!--
        <a href="{{service.resource?.data.brochures?.showHouseBrochure }}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Viewing Brochure</h5>
            <small class="text-muted"><i class="fa fa-file"></i></small>
          </div>
          <p class="mb-1">View this property’s Viewing Brochure. You can share this with anyone that you think would be interested in attending a viewing.
          </p>
          <small class="text-muted">Download PDF</small>
        </a>
      </div>
       -->
      <div class="card bg-light cView-mt-30  profileCard" >
        <div class="card-body text-center p-b-0">
          <div class="profile-pic"><img *ngIf="service.resource?.data.user?.data?.profilePhoto && service.resource?.data.user?.data?.profilePhoto.length > 0"
             class="rounded-circle z-depth-1 border" alt="user" src="{{ service.resource?.data.user?.data.profilePhoto['0']['url'] }}"
             >
            <h4 class="m-t-20 m-b-0">
              {{ service.resource?.data.user?.data?.firstName }} {{ service.resource?.data.user?.data?.lastName }}</h4>
            <p>{{ service.resource?.data.user?.data?.mobile }}<br />
              <a href="mailto:#">{{ service.resource?.data.user?.data?.email }}</a>
            </p>
          </div>
        </div>
       
      </div>

        <!-- seller div -->
        <div class="card bg-light cView-mt-30  profileCard">
          <div class="card-body p-b-0">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Seller Info</h5>
            </div>
            <p class="">
              {{ service.resource?.data.sellerName }}
            </p>
            <p class="">
              {{ service.resource?.data.sellerEmail }}
            </p>
            <p class="">
              {{ service.resource?.data.sellerMobile }}
            </p>
          </div>
        </div>


        <!-- tenant div -->
        <div *ngIf="service.resource?.data.tennantContact != '' && service.resource?.data.tennantMobile != '' && service.resource?.data.tennantEmail != '' " class="card bg-light cView-mt-30  profileCard">
          <div class="card-body p-b-0">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tenant Info</h5>
            </div>
            <p class="">
              {{ service.resource?.data.tennantContact }}
            </p>
            <p class="">
              {{ service.resource?.data.tennantMobile }}
            </p>
            <p class="">
              {{ service.resource?.data.tennantEmail }}
            </p>
          </div>
        </div>
   
    </div>
  </div>
  </div>