<ul _ngcontent-ejg-c4="" class="nav nav-tabs resource-list">
  <!-- <li  class="nav-item"><a _ngcontent-ejg-c4="" class="nav-link" routerlink="edit"
        routerlinkactive="active" ng-reflect-router-link="edit" (click) = 'allListing()'>
        All</a></li> -->
        <li  class="nav-item"><a _ngcontent-ejg-c4="" class="nav-link selected" routerlink="edit"
          routerlinkactive="active" ng-reflect-router-link="edit" (click) = 'myListing()'>
          My Listing</a></li>
</ul>

<ag-grid-angular #myGrid style="height: 556px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
  [gridOptions]="gridOptions" [pagination]=true [paginationPageSize]="17" (rowClicked)="onRowClicked($event)">
</ag-grid-angular>