<h2 class="residential-index"><i class="fas fa-home"></i> Commercial Listings<br />
  <a style="color: blue; text-decoration: underline;font-size: 14px;" data-toggle="modal"
    data-target="#basicExampleModal">
    Learn How to Use the Below Listing Grid
  </a>
</h2>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How to Use the Maxprop Digital Listing Grid</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BqnLxyHnnn0" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<ul _ngcontent-ejg-c4="" class="nav nav-tabs resource-list">
  <li class="nav-item"><a _ngcontent-ejg-c4="" [ngClass]="{'underline_active': a === 'active'}" (click)='gridData("active")' class="nav-link" routerlink="user-brand"
      routerlinkactive="active" ng-reflect-router-link="user-brand">Active</a></li>
  <li class="nav-item"><a _ngcontent-ejg-c4="" [ngClass]="{'underline_active': a === 'archived'}" class="nav-link" routerlink="edit" routerlinkactive="active"
      ng-reflect-router-link="edit" (click)='gridData("archived")'>Archived</a></li>
  <li class="nav-item"><a _ngcontent-ejg-c4="" [ngClass]="{'underline_active': a === 'pending'}" class="nav-link" routerlink="edit" routerlinkactive="active"
      ng-reflect-router-link="edit" (click)='gridData("pending")'>Pending</a></li>

  <li class="nav-item"><a _ngcontent-ejg-c4="" [ngClass]="{'underline_active': a === 'myListing'}" class="nav-link" routerlink="edit" routerlinkactive="active"
      ng-reflect-router-link="edit" (click)='myListing()'>
      My Listing</a></li>
  <li class="nav-item"><a _ngcontent-ejg-c4=""  class="nav-link" routerlink="edit" routerlinkactive="active"
      ng-reflect-router-link="edit" (click)='clearFilters()'>
      Reset Filters</a></li>
</ul>
<ag-grid-angular #myGrid style="height: 556px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
  [gridOptions]="gridOptions" [pagination]=true [paginationPageSize]="17" (cellClicked)="cellClicked($event)">
</ag-grid-angular>

<button class="btn btn-primary pull-left float-left" (click)="newListing()"><i
    class="glyphicon glyphicon-plus fa fa-plus"></i> New Listing</button>
<hr class="residential-index-hr" />