<div class="row in" style="margin-top:60px;">
<div class="col-md-6">
<!-- Card -->
<div class="card card-image"
  style="background-image: url(https://properties-digital-office.s3-us-west-2.amazonaws.com/assets/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 style="color: #3ffbff;"><i class="fas fa-brain" style="color: #3ffbff;"></i> How To Guides</h5>
      <h3 class="card-title pt-2"><strong>Get Up & Running With Using the Digital Office</strong></h3>
      <p>Become a pro in no time with our easy-to-follow video demonstrations on how to use the digital office</p>
      <a routerLink="/videos" class="btn" style="background-color: #3ffbff;color: #000000;font-weight: 700;"> View Guides</a>
    </div>
  </div>
</div>

<!-- Card -->
</div>
<div class="col-md-6">
  <div style="text-align: center;"><h5 style="color: #030303;"><i class="fas fa-headset" style="color: #000;"></i> Support Ticket</h5>
      <h3 class="card-title pt-2" style="color:#000000;"><strong>Or Get Assistance From Our Support Team</strong></h3></div>
  <formio src="https://whitefang-digitaloffice.form.io/support"></formio>
  <!--
  <div class="card card-image"
  style="background-image: url(https://properties-digital-office.s3-us-west-2.amazonaws.com/assets/petr-machacek-BeVGrXEktIk-unsplash.jpg);">

  
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 style="color: #3ffbff;"><i class="fas fa-headset" style="color: #3ffbff;"></i> Support Ticket</h5>
      <h3 class="card-title pt-2"><strong>Get Prompt Assistance From Our Support Team</strong></h3>
      <p>Let us know what you're struggling with and we'll point you in the right direction or implement a fix.</p>
      <a class="btn" style="background-color: #3ffbff;color: #000000;font-weight: 700;">Log a Ticket</a>
    </div>
  </div>

</div>
</div>
</div>
<div class="row" style="margin-top:60px;">
  <div class="col-md-12">
    <formio src="https://md-digitaloffice.form.io/support"></formio>
    </div>
    </div>
    -->