// brand section css
.brandSection{
    .brandRow{
        padding-top:60px;
        h2{
            margin-bottom: 20px;

            i{
                color: #000;
            }
        }

    }
}

// container css
    .logoSection{
        img{
            margin-top:20px;
        }
    }

// iconsSection css
.iconsSection
{
    margin-top: 40px;

    img{
        margin-top:20px;
        
    }
}


// font section 

.fontSection {
    img{
        margin-top:20px;
    }
    h5{
        padding-left: 7px;
    }
}


// colorSection css


.colorSection  {


    .text-h5  {
        margin-top: 10px;
    }
    img {
        margin-top:20px;
   }
    
}