
  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <!--Grid row-->
    <div class="row d-flex justify-content-center" style="padding:60px;">

      <!--Grid column-->
      <div class="col-lg-9">
        <h2><i class="far fa-play-circle" style="color: #000;"></i> How-To Video Guides</h2>
        <h5 style="margin-top:30px;margin-bottom: 30px;">Everything you need to know to become a Digital Office pro</h5>
        <p>Below are a selection of demonstration video's explaining how to navigate & use the Digitial Office. We
          recommend that you work through each video but you can also select any section that you may be looking for
          direction on.</p>
        <p>If you're still unsure about anything, please contact the support team by logging a support ticket <a
            routerLink="/support">here</a></p>
            
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->

<div class="row">
  <div class="col-md-12">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block" style="text-align: left;" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="float-right"><i class="fa fa-chevron-down" style="color: #ffffff;"></i></span>The Login Process
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-21by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/aJpGQmuEkrU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">

          <h2 class="mb-0">
            <button class="btn btn-link btn-block collapsed" style="text-align: left;" type="button"
              data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="float-right"><i class="fa fa-chevron-down" style="color: #ffffff;"></i></span>Navigating Listings
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-21by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/6O3XhY-whT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">

          <h2 class="mb-0">
            <button class="btn btn-link btn-block collapsed" style="text-align: left;" type="button"
              data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="float-right"><i class="fa fa-chevron-down" style="color: #ffffff;"></i></span>Creating a Listing
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-21by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/bGxv2IbrEYc" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
